.product-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.catalog{
  padding: 20px;
}

.catalog .title-card{
	align-items: center;
	display: inline-flex;
	flex-direction: column;
	padding: 0.5rem 1rem;
}

.header-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
}

.shop-image {
  margin-right: 20px;
}

.catalog .h3{
  margin: 0px 15px 0px;
}

.filters {
  display: flex;
  width: 71%;
  align-items: center;
  justify-content: space-evenly;
}

.filter-image {
  transition: all 0.3s ease;
  display: flex;
}

.filters img {
  transition: all 0.3s ease;
  object-fit: contain;
}

.filter-image img {
  transform: translateY(0);
}

.filter-image.active img {
  transform: translateY(-10px);
}

.filter-image:hover img {
  cursor: pointer;
}

.filter-image.active:hover img {
  cursor: pointer;
  transform: translateY(-10px);
}

