.picker {
  font-size: 29px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.picker button {
  border: none;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 5px;
  margin: 10px;
}

.picker button:disabled {
  transform: none;
}
