.sidebar-container{
  
  margin: 0px 30px 0px 30px;

  position: fixed;
	background: var(--pixel-bg);
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 314px;
  height: 100vh;
  z-index: 10;
  
	box-shadow:
  calc(var(--pixel) * -2) 0 0 0 var(--pixel-border-2),
  calc(var(--pixel) * 2) 0 0 0 var(--pixel-border-2);
}

.menu{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cart-btn{
  color: white;
  scale: 0.7;
  width: 120px;
  font-size: 35px;
  padding: 0px 5px 0px;
  text-decoration: none;
  height: fit-content;
  overflow-y: hidden;
}

.total{
  overflow-y: visible;
}

.cart-btn p{
  margin-top: 0px;
  line-height: 10px;
}

.y-txt{
  padding: 10px 0px;
  color: var(--yellow);
  font-size: 45px;
}

.no-deco{
  height: fit-content;
  color: white;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

.y-txt .inner-container{
}